.overlay {
    backdrop-filter: blur(2px);
    animation: fadeIn 0.3s ease-in-out;
}

.confirmation-card {
    animation: popIn 0.25s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes popIn {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}